In [1]:
# 필요한 패키지 불러오기

library(tidyverse)
library(data.table)
library(readxl)
library(gridExtra)
library(reshape2)
library(agricolae)

Warning message:
"package 'tidyverse' was built under R version 3.6.3"-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.0 --
√ ggplot2 3.3.2     √ purrr   0.3.4
√ tibble  3.0.4     √ dplyr   1.0.2
√ tidyr   1.1.2     √ stringr 1.4.0
√ readr   1.4.0     √ forcats 0.5.0
Warning message:
"package 'ggplot2' was built under R version 3.6.3"Warning message:
"package 'tibble' was built under R version 3.6.3"Warning message:
"package 'tidyr' was built under R version 3.6.3"Warning message:
"package 'readr' was built under R version 3.6.3"Warning message:
"package 'purrr' was built under R version 3.6.3"Warning message:
"package 'dplyr' was built under R version 3.6.3"Warning message:
"package 'forcats' was built under R version 3.6.3"-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
Warning message:
"package 'data.table' was built under R version 3.6.3"
Attaching package: 'data.table'

The following objects are masked from 'package:dplyr':

    between, first, last

The following object is masked from 'package:purrr':

    transpose

Warning message:
"package 'readxl' was built under R version 3.6.3"Warning message:
"package 'gridExtra' was built under R version 3.6.3"
Attaching package: 'gridExtra'

The following object is masked from 'package:dplyr':

    combine

Warning message:
"package 'reshape2' was built under R version 3.6.3"
Attaching package: 'reshape2'

The following objects are masked from 'package:data.table':

    dcast, melt

The following object is masked from 'package:tidyr':

    smiths

Warning message:
"package 'agricolae' was built under R version 3.6.3"

In [2]:
# 데이터 불러오기
customer <- read_excel("월별소비자동향조사_201801_202010.xlsx")

In [3]:
# 데이터 전처리
category = c('가계수입전망CSI', '현재가계저축CSI',
             '가계저축전망CSI', '주택가격전망CSI',
             '소비지출전망CSI', '의료·보건비 지출전망CSI',
             '교양·오락·문화생활비 지출전망CSI', '의류비 지출전망CSI',
             '외식비 지출전망CSI', '여행비 지출전망CSI', '교육비 지출전망CSI')

# 연령별 데이터
data2 <- customer %>%
  filter(grepl('세+',분류코드별)) %>% 
  filter(지수코드별 %in% category) %>% 
  select(-항목, -단위) %>% 
  melt(id.vars=c('지수코드별', '분류코드별')) %>% 
  mutate(지수코드별 = as.factor(지수코드별), 분류코드별 = as.factor(분류코드별))

data2_b <- data2[c(1:1375), ]
data2_a <- data2[c(1376:1870), ]

# 소득별 데이터
data_wage <- customer %>%
  filter(grepl('만원+',분류코드별)) %>% 
  filter(지수코드별 %in% category) %>% 
  select(-항목, -단위) %>% 
  melt(id.vars=c('지수코드별', '분류코드별')) %>% 
  mutate(지수코드별 = as.factor(지수코드별), 분류코드별 = as.factor(분류코드별))

data_wage_b <- data_wage[c(1:1650), ]
data_wage_a <- data_wage[c(1650:2244), ]

In [4]:
# 분산분석 결과 저장 함수
anova_result = function(df, category) {
  
  aov_list = list()
  summary_list = list()
  posthoc_list = list()
  
  for (i in 1:length(category)){
    aov_model = aov(value ~ 분류코드별 + variable,
                    data=df[df$지수코드별 == category[i], ])
    aov_list[[i]] = aov_model

    summary_list[[i]] = summary(aov_model)
    
    posthoc = HSD.test(aov_model, '분류코드별', group=TRUE)
    posthoc_list[[i]] = posthoc
  }
  
  return(list('aov' = aov_list, 'summary' = summary_list, 'posthoc' = posthoc_list))
  
}

In [5]:
# 분산분석 시행

anova_result_before = anova_result(df=data2_b, category=category)
anova_result_after = anova_result(df=data2_a, category=category)

anova_result_before_wage = anova_result(df = data_wage_b, category = category)
anova_result_after_wage = anova_result(df = data_wage_a, category = category)

In [6]:
for (i in 1:length(category)){
  cat('\n------------------------------', category[i], '에 대한 연령별 분산분석 결과입니다. ------------------------------\n\n')
  print(anova_result_before$summary[[i]])
  print(anova_result_before$posthoc[[i]])
  print(anova_result_after$summary[[i]])
  print(anova_result_after$posthoc[[i]])
}

------------------------------ 가계수입전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   4   4480  1119.9 352.164  < 2e-16 ***
variable    24    610    25.4   7.993 4.68e-14 ***
Residuals   96    305     3.2
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
  MSerror Df  Mean       CV      MSD
     3.18 96 97.56 1.827855 1.402332

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         3.931944  0.05

$means
          value      std  r Min Max Q25 Q50 Q75
40-50세  102.56 2.501333 25  98 108 101 103 104
40세미만 106.24 2.026491 25 103 112 105 106 107
50-60세   96.28 3.553402 25  91 105  94  95  98
60-70세   91.76 3.112876 25  87  98  89  91  95
70세이상  90.96 2.335951 25  87  95  89  91  93

$comparison
NULL

$groups
          value groups
40세미만 106.24      a
40-50세  102.56      b
50-60세   96.28      c
60-70세   91.76      d
70세이상  90.96      d

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value  Pr(>F)
분류코드별   4 1565.6   391.4  124.81 < 2e-16 ***
variable     8  671.2    83.9   26.75 4.4e-12 ***
Residuals   32  100.4     3.1
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df Mean       CV      MSD
  3.136111 32 88.2 2.007831 2.412106

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         4.086221  0.05

$means
            value      std r Min Max Q25 Q50 Q75
40-50세  93.55556 4.275252 9  88 103  91  92  95
40세미만 96.66667 4.387482 9  91 105  95  95  98
50-60세  86.11111 4.935698 9  78  93  83  86  90
60-70세  82.77778 4.085884 9  75  88  80  83  86
70세이상 81.88889 4.226241 9  74  88  79  83  84

$comparison
NULL

$groups
            value groups
40세미만 96.66667      a
40-50세  93.55556      b
50-60세  86.11111      c
60-70세  82.77778      d
70세이상 81.88889      d

attr(,"class")
[1] "group"

------------------------------ 현재가계저축CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

            Df Sum Sq Mean Sq F value  Pr(>F)
분류코드별   4 2336.5   584.1 115.130 < 2e-16 ***
variable    24  274.4    11.4   2.254 0.00288 **
Residuals   96  487.1     5.1
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df   Mean       CV      MSD
  5.073667 96 90.704 2.483331 1.771325

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         3.931944  0.05

$means
         value      std  r Min Max Q25 Q50 Q75
40-50세  94.00 2.901149 25  88  99  92  94  96
40세미만 97.16 2.896550 25  91 101  96  97 100
50-60세  89.84 2.321637 25  84  94  89  90  91
60-70세  86.84 2.230097 25  83  92  85  87  89
70세이상 85.68 2.135416 25  82  90  85  86  87

$comparison
NULL

$groups
         value groups
40세미만 97.16      a
40-50세  94.00      b
50-60세  89.84      c
60-70세  86.84      d
70세이상 85.68      d

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   4 2005.1   501.3   213.1  < 2e-16 ***
variable     8  350.0    43.8    18.6 5.21e-10 ***
Residuals   32   75.3     2.4
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df     Mean       CV      MSD
  2.352778 32 86.88889 1.765331 2.089253

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         4.086221  0.05

$means
            value      std r Min Max Q25 Q50 Q75
40-50세  91.88889 2.934469 9  87  97  91  92  94
40세미만 97.11111 2.619372 9  94 103  96  97  97
50-60세  84.66667 3.840573 9  80  93  82  85  85
60-70세  81.77778 3.153481 9  76  86  80  82  84
70세이상 79.00000 3.605551 9  71  84  78  80  81

$comparison
NULL

$groups
            value groups
40세미만 97.11111      a
40-50세  91.88889      b
50-60세  84.66667      c
60-70세  81.77778      d
70세이상 79.00000      e

attr(,"class")
[1] "group"

------------------------------ 가계저축전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

            Df Sum Sq Mean Sq F value  Pr(>F)
분류코드별   4   4437  1109.3 267.056 < 2e-16 ***
variable    24    223     9.3   2.233 0.00319 **
Residuals   96    399     4.2
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df   Mean      CV      MSD
  4.153833 96 93.208 2.18661 1.602736

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         3.931944  0.05

$means
          value      std  r Min Max Q25 Q50 Q75
40-50세   96.72 2.051828 25  94 102  95  97  98
40세미만 102.68 1.796292 25 100 106 102 102 104
50-60세   91.92 2.498666 25  87  97  90  92  94
60-70세   89.00 2.929733 25  85  94  87  88  91
70세이상  85.72 1.904381 25  83  90  84  85  87

$comparison
NULL

$groups
          value groups
40세미만 102.68      a
40-50세   96.72      b
50-60세   91.92      c
60-70세   89.00      d
70세이상  85.72      e

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   4 2540.8   635.2  216.13  < 2e-16 ***
variable     8  246.2    30.8   10.47 4.56e-07 ***
Residuals   32   94.0     2.9
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df     Mean      CV      MSD
  2.938889 32 89.02222 1.92572 2.335029

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         4.086221  0.05

$means
             value      std r Min Max Q25 Q50 Q75
40-50세   94.66667 2.645751 9  91 100  93  95  96
40세미만 100.33333 1.870829 9  98 104  99 100 101
50-60세   86.66667 3.354102 9  81  92  86  86  88
60-70세   84.00000 3.640055 9  78  89  83  84  85
70세이상  79.44444 2.743680 9  74  84  78  80  81

$comparison
NULL

$groups
             value groups
40세미만 100.33333      a
40-50세   94.66667      b
50-60세   86.66667      c
60-70세   84.00000      d
70세이상  79.44444      e

attr(,"class")
[1] "group"

------------------------------ 주택가격전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   4   1451   362.8   50.04 <2e-16 ***
variable    24  18032   751.3  103.62 <2e-16 ***
Residuals   96    696     7.3
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
  MSerror Df    Mean       CV     MSD
   7.2505 96 104.512 2.576427 2.11749

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         3.931944  0.05

$means
          value      std  r Min Max Q25 Q50 Q75
40-50세  102.32 11.56402 25  81 123  95 103 109
40세미만 108.92 10.41201 25  92 130 101 108 114
50-60세  101.28 13.11335 25  80 126  92 102 109
60-70세  101.64 14.11819 25  77 128  93 102 111
70세이상 108.40 12.91962 25  83 136 101 109 116

$comparison
NULL

$groups
          value groups
40세미만 108.92      a
70세이상 108.40      a
40-50세  102.32      b
60-70세  101.64      b
50-60세  101.28      b

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   4    510   127.4   24.14 2.82e-09 ***
variable     8   5068   633.5  120.06  < 2e-16 ***
Residuals   32    169     5.3
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df     Mean       CV      MSD
  5.276389 32 113.1111 2.030781 3.128737

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         4.086221  0.05

$means
            value      std r Min Max Q25 Q50 Q75
40-50세  109.8889 10.44563 9  93 121 108 111 120
40세미만 118.0000 10.71214 9 100 131 115 117 127
50-60세  110.6667 10.86278 9  94 125 110 111 118
60-70세  110.6667 13.04799 9  90 124 108 110 122
70세이상 116.3333 11.93734 9  96 130 112 115 127

$comparison
NULL

$groups
            value groups
40세미만 118.0000      a
70세이상 116.3333      a
50-60세  110.6667      b
60-70세  110.6667      b
40-50세  109.8889      b

attr(,"class")
[1] "group"

------------------------------ 소비지출전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   4   7366  1841.4 362.812  < 2e-16 ***
variable    24    466    19.4   3.822 1.44e-06 ***
Residuals   96    487     5.1
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df    Mean       CV      MSD
  5.075333 96 106.584 2.113685 1.771616

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         3.931944  0.05

$means
          value      std  r Min Max Q25 Q50 Q75
40-50세  112.64 2.430363 25 109 118 111 112 114
40세미만 118.40 2.986079 25 112 122 116 119 121
50-60세  102.64 1.845716 25  99 106 102 103 104
60-70세   97.92 2.998889 25  89 103  96  99 100
70세이상 101.32 3.532233 25  95 107  99 101 105

$comparison
NULL

$groups
          value groups
40세미만 118.40      a
40-50세  112.64      b
50-60세  102.64      c
70세이상 101.32      c
60-70세   97.92      d

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   4 2873.9   718.5  220.88  < 2e-16 ***
variable     8 1280.8   160.1   49.22 8.06e-16 ***
Residuals   32  104.1     3.3
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df     Mean       CV      MSD
  3.252778 32 93.93333 1.920028 2.456562

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         4.086221  0.05

$means
             value      std r Min Max Q25 Q50 Q75
40-50세   97.88889 6.808899 9  90 112  94  95 101
40세미만 107.11111 5.278363 9 101 117 103 106 110
50-60세   89.77778 6.119187 9  80 100  87  89  95
60-70세   83.66667 4.743416 9  76  92  81  85  85
70세이상  91.22222 6.240548 9  79 101  88  92  95

$comparison
NULL

$groups
             value groups
40세미만 107.11111      a
40-50세   97.88889      b
70세이상  91.22222      c
50-60세   89.77778      c
60-70세   83.66667      d

attr(,"class")
[1] "group"

------------------------------ 의료·보건비 지출전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

            Df Sum Sq Mean Sq F value  Pr(>F)
분류코드별   4 2988.4   747.1 336.983 < 2e-16 ***
variable    24  109.2     4.5   2.052 0.00752 **
Residuals   96  212.8     2.2
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
  MSerror Df    Mean       CV      MSD
    2.217 96 113.584 1.310888 1.170901

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         3.931944  0.05

$means
          value      std  r Min Max Q25 Q50 Q75
40-50세  108.08 1.891208 25 105 112 107 108 109
40세미만 111.44 1.609348 25 108 114 111 112 112
50-60세  110.60 1.384437 25 108 113 109 111 112
60-70세  115.80 1.779513 25 113 121 115 116 117
70세이상 122.00 1.471960 25 118 124 121 122 123

$comparison
NULL

$groups
          value groups
70세이상 122.00      a
60-70세  115.80      b
40세미만 111.44      c
50-60세  110.60      c
40-50세  108.08      d

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   4  907.0  226.76  57.690 3.52e-14 ***
variable     8  162.0   20.25   5.152 0.000352 ***
Residuals   32  125.8    3.93
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df     Mean      CV      MSD
  3.930556 32 109.7333 1.80671 2.700397

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         4.086221  0.05

$means
            value      std r Min Max Q25 Q50 Q75
40-50세  105.2222 1.563472 9 103 108 104 105 106
40세미만 108.7778 2.773886 9 105 114 107 108 110
50-60세  106.2222 2.386304 9 103 110 104 107 107
60-70세  110.5556 2.554952 9 105 114 110 111 111
70세이상 117.8889 3.689324 9 113 124 115 118 121

$comparison
NULL

$groups
            value groups
70세이상 117.8889      a
60-70세  110.5556      b
40세미만 108.7778     bc
50-60세  106.2222     cd
40-50세  105.2222      d

attr(,"class")
[1] "group"

------------------------------ 교양·오락·문화생활비 지출전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   4 2380.0   595.0 111.467 <2e-16 ***
variable    24  171.0     7.1   1.335  0.163
Residuals   96  512.4     5.3
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df   Mean       CV      MSD
  5.337833 96 90.144 2.562983 1.816853

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         3.931944  0.05

$means
         value      std  r Min Max Q25 Q50 Q75
40-50세  89.84 1.545962 25  86  93  89  90  91
40세미만 98.48 3.070288 25  93 103  97  99 101
50-60세  89.12 2.521904 25  85  95  88  88  90
60-70세  86.56 2.631223 25  82  92  85  86  88
70세이상 86.72 1.837571 25  83  91  86  87  88

$comparison
NULL

$groups
         value groups
40세미만 98.48      a
40-50세  89.84      b
50-60세  89.12      b
70세이상 86.72      c
60-70세  86.56      c

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value  Pr(>F)
분류코드별   4 1230.5  307.63  112.04 < 2e-16 ***
variable     8  799.2   99.91   36.38 6.2e-14 ***
Residuals   32   87.9    2.75
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df     Mean       CV      MSD
  2.745833 32 77.91111 2.126854 2.257032

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         4.086221  0.05

$means
            value      std r Min Max Q25 Q50 Q75
40-50세  77.77778 4.684490 9  72  88  75  76  80
40세미만 88.00000 3.807887 9  84  95  85  86  91
50-60세  74.33333 5.291503 9  67  85  70  74  77
60-70세  73.77778 4.790036 9  68  83  70  73  76
70세이상 75.66667 4.847680 9  68  85  73  77  78

$comparison
NULL

$groups
            value groups
40세미만 88.00000      a
40-50세  77.77778      b
70세이상 75.66667     bc
50-60세  74.33333      c
60-70세  73.77778      c

attr(,"class")
[1] "group"

------------------------------ 의류비 지출전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

            Df Sum Sq Mean Sq F value  Pr(>F)
분류코드별   4   5485  1371.2 323.174 < 2e-16 ***
variable    24    487    20.3   4.786 1.7e-08 ***
Residuals   96    407     4.2
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df   Mean       CV      MSD
  4.242833 96 96.624 2.131783 1.619815

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         3.931944  0.05

$means
          value      std  r Min Max Q25 Q50 Q75
40-50세  100.76 2.067204 25  97 103  99 101 103
40세미만 107.44 2.292742 25 102 110 106 108 109
50-60세   94.00 4.010403 25  88 101  91  92  97
60-70세   89.36 2.736786 25  84  94  88  89  92
70세이상  91.56 2.042874 25  88  96  90  91  93

$comparison
NULL

$groups
          value groups
40세미만 107.44      a
40-50세  100.76      b
50-60세   94.00      c
70세이상  91.56      d
60-70세   89.36      e

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   4 2203.3   550.8  229.91  < 2e-16 ***
variable     8  558.0    69.8   29.11 1.39e-12 ***
Residuals   32   76.7     2.4
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df     Mean       CV      MSD
  2.395833 32 86.66667 1.785978 2.108283

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         4.086221  0.05

$means
            value      std r Min Max Q25 Q50 Q75
40-50세  90.66667 4.272002 9  85 100  89  90  92
40세미만 98.33333 4.153312 9  94 107  96  97  99
50-60세  82.44444 4.558265 9  75  89  80  83  86
60-70세  78.77778 3.113590 9  72  82  78  80  81
70세이상 83.11111 3.655285 9  77  89  81  83  85

$comparison
NULL

$groups
            value groups
40세미만 98.33333      a
40-50세  90.66667      b
70세이상 83.11111      c
50-60세  82.44444      c
60-70세  78.77778      d

attr(,"class")
[1] "group"

------------------------------ 외식비 지출전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   4   4859  1214.6 186.329 <2e-16 ***
variable    24    262    10.9   1.676 0.0412 *
Residuals   96    626     6.5
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df   Mean       CV      MSD
  6.518833 96 90.568 2.819098 2.007809

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         3.931944  0.05

$means
          value      std  r Min Max Q25 Q50 Q75
40-50세   92.08 1.351542 25  90  95  91  92  93
40세미만 102.00 1.892969 25  99 106 101 102 103
50-60세   87.88 3.443835 25  83  96  85  87  91
60-70세   84.56 3.927255 25  79  92  82  84  87
70세이상  86.32 2.076054 25  82  90  85  86  87

$comparison
NULL

$groups
          value groups
40세미만 102.00      a
40-50세   92.08      b
50-60세   87.88      c
70세이상  86.32     cd
60-70세   84.56      d

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   4 1997.4   499.4  119.09  < 2e-16 ***
variable     8  783.4    97.9   23.35 2.72e-11 ***
Residuals   32  134.2     4.2
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df     Mean      CV      MSD
  4.193056 32 79.97778 2.56033 2.789112

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         4.086221  0.05

$means
            value      std r Min Max Q25 Q50 Q75
40-50세  83.33333 4.500000 9  78  91  81  83  87
40세미만 91.55556 3.678013 9  88  99  89  90  94
50-60세  75.77778 4.657730 9  69  83  72  77  78
60-70세  73.77778 5.356720 9  64  80  70  76  77
70세이상 75.44444 5.525195 9  66  82  71  76  79

$comparison
NULL

$groups
            value groups
40세미만 91.55556      a
40-50세  83.33333      b
50-60세  75.77778      c
70세이상 75.44444      c
60-70세  73.77778      c

attr(,"class")
[1] "group"

------------------------------ 여행비 지출전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   4   6004  1501.0 200.427  < 2e-16 ***
variable    24   1279    53.3   7.116 1.17e-12 ***
Residuals   96    719     7.5
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df   Mean       CV      MSD
  7.488833 96 90.392 3.027451 2.152011

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         3.931944  0.05

$means
          value      std  r Min Max Q25 Q50 Q75
40-50세   93.28 2.406934 25  88  97  91  94  95
40세미만 100.92 3.213513 25  95 106  99 100 104
50-60세   91.52 5.034216 25  83 100  88  90  98
60-70세   85.76 6.008882 25  77  96  82  84  93
70세이상  80.48 2.382576 25  75  85  79  81  82

$comparison
NULL

$groups
          value groups
40세미만 100.92      a
40-50세   93.28      b
50-60세   91.52      b
60-70세   85.76      c
70세이상  80.48      d

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   4  926.9   231.7   61.02 1.61e-14 ***
variable     8 1957.4   244.7   64.44  < 2e-16 ***
Residuals   32  121.5     3.8
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df     Mean       CV    MSD
  3.797222 32 66.77778 2.918106 2.6542

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         4.086221  0.05

$means
            value      std r Min Max Q25 Q50 Q75
40-50세  67.44444 8.293237 9  58  85  62  66  71
40세미만 75.11111 7.672100 9  65  91  71  75  77
50-60세  65.00000 7.648529 9  55  81  60  65  68
60-70세  64.55556 6.385748 9  55  77  61  63  67
70세이상 61.77778 5.739725 9  55  74  60  61  64

$comparison
NULL

$groups
            value groups
40세미만 75.11111      a
40-50세  67.44444      b
50-60세  65.00000     bc
60-70세  64.55556      c
70세이상 61.77778      d

attr(,"class")
[1] "group"

------------------------------ 교육비 지출전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   4  16652    4163 964.646  < 2e-16 ***
variable    24    432      18   4.175 2.74e-07 ***
Residuals   96    414       4
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
  MSerror Df    Mean       CV      MSD
   4.3155 96 100.888 2.059093 1.633627

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   5         3.931944  0.05

$means
          value      std  r Min Max Q25 Q50 Q75
40-50세  117.60 3.068659 25 113 123 115 117 120
40세미만 111.08 3.213513 25 105 118 109 111 113
50-60세   96.56 3.305047 25  92 103  94  96  99
60-70세   87.44 1.474223 25  84  90  87  88  88
70세이상  91.76 1.562050 25  88  94  91  92  93

$comparison
NULL


In [7]:
for (i in 1:length(category)){
  cat('\n------------------------------', category[i], '에 대한 연령별 분산분석 결과입니다. ------------------------------\n\n')
  print(anova_result_before_wage$summary[[i]])
  print(anova_result_before_wage$posthoc[[i]])
  print(anova_result_after_wage$summary[[i]])
  print(anova_result_after_wage$posthoc[[i]])
}

------------------------------ 가계수입전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5   4206   841.2 197.037  < 2e-16 ***
variable     24    826    34.4   8.066 1.33e-15 ***
Residuals   120    512     4.3
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror  Df     Mean       CV      MSD
  4.269111 120 97.20667 2.125557 1.692611

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.095986  0.05

$means
             value      std  r Min Max Q25 Q50 Q75
100-200만원  92.88 3.004441 25  88 100  91  92  95
100만원미만  88.24 3.205204 25  81  96  87  88  90
200-300만원  97.72 2.491987 25  93 103  96  97  99
300-400만원  98.60 3.366502 25  94 106  96  98 101
400-500만원 101.88 3.395095 25  96 109  99 102 105
500만원이상 103.92 2.722132 25 100 111 102 103 105

$comparison
NULL

$groups
             value groups
500만원이상 103.92      a
400-500만원 101.88      b
300-400만원  98.60      c
200-300만원  97.72      c
100-200만원  92.88      d
100만원미만  88.24      e

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   5 2159.4   431.9  104.02  < 2e-16 ***
variable     8  886.6   110.8   26.69 9.92e-14 ***
Residuals   40  166.1     4.2
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df     Mean       CV      MSD
  4.151852 40 86.87037 2.345575 2.874146

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.231644  0.05

$means
               value      std r Min Max Q25 Q50 Q75
100-200만원 81.55556 4.927248 9  72  89  80  80  85
100만원미만 76.44444 6.247222 9  67  89  72  77  79
200-300만원 87.00000 4.716991 9  81  96  84  87  88
300-400만원 89.00000 4.123106 9  82  95  87  88  91
400-500만원 91.66667 3.500000 9  87  96  90  91  96
500만원이상 95.55556 4.096069 9  90 103  92  95  97

$comparison
NULL

$groups
               value groups
500만원이상 95.55556      a
400-500만원 91.66667      b
300-400만원 89.00000     bc
200-300만원 87.00000      c
100-200만원 81.55556      d
100만원미만 76.44444      e

attr(,"class")
[1] "group"

------------------------------ 현재가계저축CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

             Df Sum Sq Mean Sq F value  Pr(>F)
분류코드별    5   9187  1837.4 321.566 < 2e-16 ***
variable     24    284    11.8   2.072 0.00545 **
Residuals   120    686     5.7
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
  MSerror  Df     Mean       CV      MSD
    5.714 120 89.00667 2.685639 1.958207

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.095986  0.05

$means
             value      std  r Min Max Q25 Q50 Q75
100-200만원  83.20 2.929733 25  78  89  82  83  85
100만원미만  77.28 2.879815 25  72  83  76  77  79
200-300만원  86.68 3.544009 25  80  92  84  87  89
300-400만원  90.36 2.018250 25  87  95  89  90  92
400-500만원  95.28 1.814754 25  91  98  94  95  97
500만원이상 101.24 1.899123 25  97 104 100 102 103

$comparison
NULL

$groups
             value groups
500만원이상 101.24      a
400-500만원  95.28      b
300-400만원  90.36      c
200-300만원  86.68      d
100-200만원  83.20      e
100만원미만  77.28      f

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   5   5548  1109.6  260.11  < 2e-16 ***
variable     8    472    59.0   13.84 2.22e-09 ***
Residuals   40    171     4.3
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df    Mean       CV      MSD
  4.265741 40 84.2037 2.452822 2.913299

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.231644  0.05

$means
               value      std r Min Max Q25 Q50 Q75
100-200만원 77.88889 4.136558 9  71  86  76  79  79
100만원미만 66.77778 5.044249 9  59  77  64  66  69
200-300만원 83.77778 3.492054 9  79  90  81  83  86
300-400만원 86.66667 2.179449 9  84  91  85  87  88
400-500만원 91.11111 3.586239 9  87  99  89  91  92
500만원이상 99.00000 2.828427 9  95 103  98  99 101

$comparison
NULL

$groups
               value groups
500만원이상 99.00000      a
400-500만원 91.11111      b
300-400만원 86.66667      c
200-300만원 83.77778      c
100-200만원 77.88889      d
100만원미만 66.77778      e

attr(,"class")
[1] "group"

------------------------------ 가계저축전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5   7472  1494.3 334.372  < 2e-16 ***
variable     24    271    11.3   2.528 0.000515 ***
Residuals   120    536     4.5
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
  MSerror  Df     Mean       CV      MSD
    4.469 120 92.00667 2.297661 1.731784

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.095986  0.05

$means
             value      std  r Min Max Q25 Q50 Q75
100-200만원  87.48 2.023199 25  84  93  86  87  88
100만원미만  80.48 3.177001 25  73  87  78  81  83
200-300만원  91.04 1.428286 25  87  93  90  91  92
300-400만원  93.28 2.894247 25  87  99  91  94  95
400-500만원  96.80 2.160247 25  92 101  96  97  98
500만원이상 102.96 2.091252 25  98 107 102 103 104

$comparison
NULL

$groups
             value groups
500만원이상 102.96      a
400-500만원  96.80      b
300-400만원  93.28      c
200-300만원  91.04      d
100-200만원  87.48      e
100만원미만  80.48      f

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   5   4749   949.9  207.62  < 2e-16 ***
variable     8    385    48.1   10.52 8.58e-08 ***
Residuals   40    183     4.6
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
  MSerror Df     Mean      CV      MSD
    4.575 40 86.77778 2.46483 3.017056

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.231644  0.05

$means
                value      std r Min Max Q25 Q50 Q75
100-200만원  80.88889 4.314060 9  73  89  80  80  83
100만원미만  70.66667 5.454356 9  64  83  67  69  72
200-300만원  87.00000 2.236068 9  85  91  85  87  89
300-400만원  88.55556 2.006932 9  86  93  88  88  89
400-500만원  92.88889 2.934469 9  90  99  91  92  94
500만원이상 100.66667 2.236068 9  97 103 101 101 102

$comparison
NULL

$groups
                value groups
500만원이상 100.66667      a
400-500만원  92.88889      b
300-400만원  88.55556      c
200-300만원  87.00000      c
100-200만원  80.88889      d
100만원미만  70.66667      e

attr(,"class")
[1] "group"

------------------------------ 주택가격전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

             Df Sum Sq Mean Sq F value Pr(>F)
분류코드별    5   1147   229.5   35.17 <2e-16 ***
variable     24  19672   819.7  125.62 <2e-16 ***
Residuals   120    783     6.5
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
  MSerror  Df     Mean       CV      MSD
    6.525 120 105.2267 2.427529 2.092564

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.095986  0.05

$means
             value      std  r Min Max Q25 Q50 Q75
100-200만원 108.72 10.71028 25  88 129 103 109 116
100만원미만 108.32 11.13074 25  88 137 101 109 115
200-300만원 106.04 11.58836 25  86 130  99 105 111
300-400만원 103.00 12.12092 25  82 130  94 103 110
400-500만원 104.24 12.39382 25  81 126  97 107 112
500만원이상 101.04 13.37435 25  78 125  93 102 110

$comparison
NULL

$groups
             value groups
100-200만원 108.72      a
100만원미만 108.32      a
200-300만원 106.04      b
400-500만원 104.24     bc
300-400만원 103.00     cd
500만원이상 101.04      d

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   5    242    48.3   6.774 0.000117 ***
variable     9   5863   651.5  91.341  < 2e-16 ***
Residuals   40    285     7.1
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df     Mean       CV
  7.132407 40 113.8182 2.346424

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.231644  0.05

$means
               value      std  r Min Max    Q25   Q50   Q75
100-200만원 117.1111 12.01504  9  99 132 111.00 115.0 127.0
100만원미만 114.5556 12.34009  9  97 129 109.00 110.0 124.0
200-300만원 115.1111 10.72898  9  97 129 112.00 115.0 122.0
300-400만원 112.3333 11.05667  9  94 126 111.00 114.0 120.0
400-500만원 113.5556 10.17486  9  97 126 113.00 114.0 121.0
500만원이상 110.6000 10.79300 10  92 124 109.25 111.5 118.5

$comparison
NULL

$groups
               value groups
100-200만원 117.1111      a
200-300만원 115.1111     ab
100만원미만 114.5556     ab
400-500만원 113.5556    abc
300-400만원 112.3333     bc
500만원이상 110.6000      c

attr(,"class")
[1] "group"

------------------------------ 소비지출전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5   4981   996.3 206.805  < 2e-16 ***
variable     24    392    16.3   3.393 5.18e-06 ***
Residuals   120    578     4.8
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror  Df     Mean      CV      MSD
  4.817333 120 106.3867 2.06308 1.798009

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.095986  0.05

$means
             value      std  r Min Max Q25 Q50 Q75
100-200만원 101.04 3.088689 25  95 106  99 101 104
100만원미만  97.04 2.776088 25  92 103  95  97  98
200-300만원 106.00 2.101587 25 103 110 105 106 108
300-400만원 109.20 2.483277 25 103 115 109 109 111
400-500만원 112.48 2.709859 25 105 117 111 113 114
500만원이상 112.56 2.292742 25 107 117 111 112 114

$comparison
NULL

$groups
             value groups
500만원이상 112.56      a
400-500만원 112.48      a
300-400만원 109.20      b
200-300만원 106.00      c
100-200만원 101.04      d
100만원미만  97.04      e

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   5 1409.3  281.87   67.25 <2e-16 ***
variable     8 1572.3  196.54   46.89 <2e-16 ***
Residuals   40  167.7    4.19
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df     Mean      CV      MSD
  4.191667 40 93.22222 2.19621 2.887894

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.231644  0.05

$means
                value      std r Min Max Q25 Q50 Q75
100-200만원  90.00000 6.442049 9  80 103  87  89  94
100만원미만  84.77778 6.119187 9  75  96  81  84  87
200-300만원  92.00000 5.099020 9  84 101  89  92  93
300-400만원  94.44444 5.592654 9  87 104  91  92 100
400-500만원  97.66667 6.344289 9  89 108  95  96 103
500만원이상 100.44444 6.405293 9  92 112  97  98 104

$comparison
NULL

$groups
                value groups
500만원이상 100.44444      a
400-500만원  97.66667      a
300-400만원  94.44444      b
200-300만원  92.00000     bc
100-200만원  90.00000      c
100만원미만  84.77778      d

attr(,"class")
[1] "group"

------------------------------ 의료·보건비 지출전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5  222.9   44.57  12.832 5.36e-10 ***
variable     24  219.4    9.14   2.632 0.000297 ***
Residuals   120  416.8    3.47
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror  Df     Mean       CV      MSD
  3.473444 120 112.6267 1.654775 1.526752

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.095986  0.05

$means
             value      std  r Min Max Q25 Q50 Q75
100-200만원 113.84 2.896550 25 108 119 111 113 116
100만원미만 113.68 2.174090 25 109 118 112 114 115
200-300만원 113.20 2.500000 25 108 117 111 114 115
300-400만원 113.04 1.206924 25 111 115 112 113 114
400-500만원 111.52 1.661325 25 109 114 110 112 113
500만원이상 110.48 1.710750 25 107 114 109 110 111

$comparison
NULL

$groups
             value groups
100-200만원 113.84      a
100만원미만 113.68      a
200-300만원 113.20      a
300-400만원 113.04     ab
400-500만원 111.52     bc
500만원이상 110.48      c

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   5  126.8  25.367   7.535 4.62e-05 ***
variable     8  218.0  27.250   8.094 1.99e-06 ***
Residuals   40  134.7   3.367
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df     Mean       CV      MSD
  3.366667 40 108.8333 1.685925 2.588141

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.231644  0.05

$means
               value      std r Min Max Q25 Q50 Q75
100-200만원 111.7778 2.948634 9 107 117 110 112 113
100만원미만 107.1111 4.342938 9 101 115 104 106 109
200-300만원 108.7778 2.488864 9 106 114 107 108 110
300-400만원 109.4444 1.333333 9 107 111 109 110 110
400-500만원 108.4444 2.403701 9 105 112 107 108 109
500만원이상 107.4444 1.666667 9 106 110 106 107 108

$comparison
NULL

$groups
               value groups
100-200만원 111.7778      a
300-400만원 109.4444     ab
200-300만원 108.7778      b
400-500만원 108.4444      b
500만원이상 107.4444      b
100만원미만 107.1111      b

attr(,"class")
[1] "group"

------------------------------ 교양·오락·문화생활비 지출전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

             Df Sum Sq Mean Sq F value Pr(>F)
분류코드별    5   4838   967.7 170.395 <2e-16 ***
variable     24    201     8.4   1.474 0.0896 .
Residuals   120    681     5.7
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
  MSerror  Df     Mean       CV    MSD
    5.679 120 88.95333 2.679006 1.9522

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.095986  0.05

$means
            value      std  r Min Max Q25 Q50 Q75
100-200만원 83.36 2.580052 25  77  89  82  83  85
100만원미만 80.88 2.891366 25  77  89  79  81  82
200-300만원 87.48 2.417299 25  83  92  85  88  89
300-400만원 91.00 2.041241 25  88  95  89  91  92
400-500만원 93.92 2.984962 25  88  99  92  94  96
500만원이상 97.08 1.681269 25  93 100  96  97  98

$comparison
NULL

$groups
            value groups
500만원이상 97.08      a
400-500만원 93.92      b
300-400만원 91.00      c
200-300만원 87.48      d
100-200만원 83.36      e
100만원미만 80.88      f

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   5 1531.1  306.21   73.59  < 2e-16 ***
variable     8 1011.3  126.42   30.38 1.16e-14 ***
Residuals   40  166.4    4.16
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df     Mean       CV      MSD
  4.161111 40 76.38889 2.670389 2.877349

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.231644  0.05

$means
               value      std r Min Max Q25 Q50 Q75
100-200만원 72.77778 4.657730 9  66  81  70  71  76
100만원미만 68.11111 6.112374 9  59  81  65  68  70
200-300만원 74.77778 3.833333 9  68  82  74  74  77
300-400만원 78.11111 5.441609 9  71  90  76  77  80
400-500만원 79.66667 4.974937 9  74  88  76  79  84
500만원이상 84.88889 4.371626 9  81  94  82  83  88

$comparison
NULL

$groups
               value groups
500만원이상 84.88889      a
400-500만원 79.66667      b
300-400만원 78.11111      b
200-300만원 74.77778      c
100-200만원 72.77778      c
100만원미만 68.11111      d

attr(,"class")
[1] "group"

------------------------------ 의류비 지출전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5   5827  1165.4 195.736  < 2e-16 ***
variable     24    665    27.7   4.654 7.39e-09 ***
Residuals   120    714     6.0
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror  Df     Mean       CV      MSD
  5.954111 120 96.14667 2.537898 1.998927

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.095986  0.05

$means
             value      std  r Min Max Q25 Q50 Q75
100-200만원  89.80 2.629956 25  84  96  89  90  91
100만원미만  86.12 2.521904 25  83  92  84  86  87
200-300만원  96.04 2.879236 25  91 101  94  96  98
300-400만원 100.64 3.903844 25  94 107  98 100 104
400-500만원 102.48 3.731845 25  95 108  99 103 105
500만원이상 101.80 2.598076 25  96 106 100 102 104

$comparison
NULL

$groups
             value groups
400-500만원 102.48      a
500만원이상 101.80      a
300-400만원 100.64      a
200-300만원  96.04      b
100-200만원  89.80      c
100만원미만  86.12      d

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   5 1941.0   388.2   97.69  < 2e-16 ***
variable     8  753.5    94.2   23.70 6.82e-13 ***
Residuals   40  159.0     4.0
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df     Mean       CV      MSD
  3.974074 40 85.48148 2.332093 2.811939

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.231644  0.05

$means
               value      std r Min Max Q25 Q50 Q75
100-200만원 79.44444 3.972125 9  71  85  79  79  81
100만원미만 76.77778 4.944132 9  70  86  73  77  79
200-300만원 84.44444 4.304391 9  79  92  81  84  87
300-400만원 87.33333 3.674235 9  83  94  84  86  89
400-500만원 91.44444 5.246692 9  84  99  88  91  96
500만원이상 93.44444 3.778595 9  87 100  92  93  95

$comparison
NULL

$groups
               value groups
500만원이상 93.44444      a
400-500만원 91.44444      a
300-400만원 87.33333      b
200-300만원 84.44444      c
100-200만원 79.44444      d
100만원미만 76.77778      d

attr(,"class")
[1] "group"

------------------------------ 외식비 지출전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5   7733  1546.5 299.462  < 2e-16 ***
variable     24    341    14.2   2.751 0.000158 ***
Residuals   120    620     5.2
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror  Df     Mean       CV     MSD
  5.164333 120 89.26667 2.545762 1.86164

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.095986  0.05

$means
            value      std  r Min Max Q25 Q50 Q75
100-200만원 82.28 2.372060 25  75  86  81  82  84
100만원미만 77.88 3.100000 25  72  83  76  77  81
200-300만원 89.04 2.009975 25  86  94  87  89  90
300-400만원 92.72 3.323151 25  88 100  91  92  95
400-500만원 95.40 2.254625 25  91  99  94  96  97
500만원이상 98.28 2.150969 25  95 103  97  98 100

$comparison
NULL

$groups
            value groups
500만원이상 98.28      a
400-500만원 95.40      b
300-400만원 92.72      c
200-300만원 89.04      d
100-200만원 82.28      e
100만원미만 77.88      f

attr(,"class")
[1] "group"
            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   5 2794.8   559.0   127.3  < 2e-16 ***
variable     8  994.3   124.3    28.3 3.78e-14 ***
Residuals   40  175.7     4.4
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror Df     Mean       CV      MSD
  4.391667 40 78.27778 2.677172 2.955987

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.231644  0.05

$means
               value      std r Min Max Q25 Q50 Q75
100-200만원 72.22222 5.118051 9  63  79  71  73  74
100만원미만 66.66667 6.041523 9  58  76  64  67  69
200-300만원 78.33333 4.183300 9  72  85  76  77  81
300-400만원 79.88889 3.689324 9  75  86  78  80  83
400-500만원 84.22222 5.629782 9  79  93  79  82  89
500만원이상 88.33333 4.555217 9  82  96  84  89  92

$comparison
NULL

$groups
               value groups
500만원이상 88.33333      a
400-500만원 84.22222      b
300-400만원 79.88889      c
200-300만원 78.33333      c
100-200만원 72.22222      d
100만원미만 66.66667      e

attr(,"class")
[1] "group"

------------------------------ 여행비 지출전망CSI 에 대한 연령별 분산분석 결과입니다. ------------------------------

             Df Sum Sq Mean Sq F value Pr(>F)
분류코드별    5  15536  3107.2  501.30 <2e-16 ***
variable     24   1570    65.4   10.56 <2e-16 ***
Residuals   120    744     6.2
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
$statistics
   MSerror  Df     Mean       CV     MSD
  6.198333 120 88.59333 2.810195 2.03951

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.095986  0.05

$means
             value      std  r Min Max Q25 Q50 Q75
100-200만원  77.80 3.763863 25  70  85  75  78  80
100만원미만  74.24 3.332667 25  68  80  72  75  77
200-300만원  87.04 3.713489 25  79  93  84  88  89
300-400만원  92.40 5.082650 25  83 101  88  91  97